.sketchbookBg {
    transition: all 700ms;
    position: fixed;
    opacity: .8;
    width: 50%;
    height: 100%;
    left: 50%;
    object-fit: cover;
    animation: sketchbookBgAnimation 1000ms;
}

@keyframes sketchbookBgAnimation {
    0% {
        left: 100%;
        opacity: 0;
        transform: scale(1.7);
    }

    100% {
        left: 50%;
        opacity: .8;
        transform: scale(1);

    }
}

@keyframes sketchbookBgMobileAnimation {
    0% {
        top: 100%;
        opacity: 0;
        transform: scale(1.7);
    }

    100% {
        top: 80%;
        opacity: .8;
        transform: scale(1);

    }
}

.sketchbookBgHidden {
    left: 100%;

}

@media (max-width: 1200px) {
    .sketchbookBg {
        width: 100%;
        left: 0%;
        height: 50%;
        top: 80%;
        filter: invert(0);
        animation: sketchbookBgMobileAnimation 1000ms;
    }

    .sketchbookBgHidden {
        top: 100%;  
    }
}