.fullscreenArt {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    align-items: end;
    display: flex;
    padding: 40px;
    z-index: 100;
    top: 0;
    left: 0;

}

.spotlight {
    height: 85%;
    margin: auto;
    margin-bottom: 15%;
    transition: all 200ms ease-in-out;
    align-content: center;
}
.spotlightImage {
    object-fit: contain;
    max-height: 100%;
    border-radius: 20px;
}

.fadeOut {

    height: 0%;
    margin-bottom: 0%;
    border-radius: 400px;
    opacity: 0;

}

.fadeIn {
    height: 85%;

}

.infoBar {
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;


}

.imageSlider {
    bottom: 0;
    height: fit-content;
    width: 250px;
    display: flex;
    gap: 5px;

}

.imagePreview {
    height: 80px;
    flex: 3;
    border-radius: 5px;
    background-color: #222;
    transition: all 200ms;
    overflow: hidden;
    opacity: 50%;
}


.imagePreview:hover {
    top: -50px;
    flex: 4;
    opacity: 100%;
}
.imagePreview:active {
    transform: translateY(-10px);
    border-top-left-radius: 20px;
        border-top-right-radius: 20px;
}
.imagePreviewSelected {
    transform: translateY(-10px);
    opacity: 100%;
    border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 3px solid #ffffffa0;

}
.imagePrevieImage {
    object-fit: cover;
    height: 100%;
    min-width: 100%
}

.sideContainer {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exitButton {
    width: fit-content;
    height: 40px;
    border-radius: 5px;
    background-color: #222;
    display: flex;
    transition: all 100ms;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: #c94444;

    padding-left: 15px;
    padding-right: 15px;
}

.exitButton:hover {
    width: fit-content;
    border-radius: 10px;
    background-color: #c94444;
    color: #111;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.exitButton:active {
    border-radius: 20px;
    background-color: #933333;
}

.infoButton {
    width: fit-content;
    height: 40px;
    border-radius: 5px;
    background-color: #222;
    display: flex;
    transition: all 100ms;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: #999;

    padding-left: 15px;
    padding-right: 15px;
}

.infoButton:hover {
    width: fit-content;
    border-radius: 10px;
    background-color: #eee;
    color: #111;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.infoButton:active {
    border-radius: 20px;
    background-color: #aaa;
}

.moreInfoHidden {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 0px;
    width: 700px;
    bottom: 150px;
    overflow: hidden;
    transition: all 300ms;

}

.moreInfo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    min-height: fit-content;
    width: 700px;
    padding: 30px;
    bottom: 150px;
    background-color: #111111c6;
    border-radius: 10px;
    transition: all 300ms;
    backdrop-filter: blur(50px);
    filter: drop-shadow(0 -10px 10px rgba(0, 0, 0, .3));
    overflow: hidden;
    font-size: small;
    color: #999;
    display: flex;

}

.hiddenInfo {
    opacity: 0;
}

.sideInfo {
    opacity: 100;

    height: fit-content;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;

    padding-bottom: 30px;
    flex: 1;
    display: grid;
    gap: 8px;
    background-color: #00000032;
    border-width: 0px;
    border-color: #000;
    border-radius: 5px;
    transition: all 0ms;
}
.sideInfoContainer {
    display: flex;
    border-bottom: 1px solid #eeeeee10;
    padding-bottom: 10px;
}
.sideInfoContainer:last-child {
    border-width: 0px;
}
.title {
    background-color: #aaa;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: fit-content;
    color: #111;
    margin-bottom: 20px;
}
.description {
    opacity: 100;
    flex: 2;
    border-right: 1px solid #000;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom:  10px;
    height: 100%;
    transition: all 0ms;
    height: fit-content;
}
.descriptionInfo {
    padding-left: 10px;
}

.heading {
    border-width: 0px;
    min-width: 90px;
    height: 20px;
    color: #656565;
}
.value {
    height: 20px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    min-height: fit-content;
    align-items: center;
}
.valueTool {
    flex-wrap:nowrap
}
.toolImage {
    margin-top: 0;
    height: 100%;
    margin-left: 5px;
    border-radius: 5px;
    object-fit: contain;
}
.categoryValue {
    
}
.tag {
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #eeeeee10;
    border-radius: 5px;
    width: fit-content;
}
.dimensionsValue {
}

.infoBlocks {
    border-width: 1px;
}

.closing {
    transition: all 300ms;
    transform: translateX(50px);
    opacity: 0;
}

@keyframes circleClose {

    50% {
        position: fixed;

        border-radius: 100px;
    }

    100% {
        position: fixed;
        left: 50%;
        top: 50%;
        border-radius: 400px;
        width: 0;
        height: 0;

    }
}



@keyframes hoverAni {
    0% {
        padding: 0px;
    }

    50% {
        padding: 20px;
    }
}

@media (max-width: 800px) {
    .infoBar {
        width: 100%;
    }
    .moreInfoHidden{
        width: 50%;
    }
    .moreInfo {
        width: 95%;
        flex-direction: column;
    }
    .description{
        border-width: 0px;
        padding-bottom: 20px;
    }
}