.coverPage {
    background-color: #222;
    border-radius: 20px;
    border-left: #ffffff30 solid 10px;
    border-right: #00000060 solid 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .6));
}

.InnerCoverPage {
    background-color: #222;
    border-radius: 20px;
    border-left: #ffffff30 solid 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .2));
}

.rightPage {
    background-color: bisque;
    border-color: #3b231971;
    border-radius: 20px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .3));

}

.leftPage {
    background-color: bisque;
    border-right-width: 0;
    border-color: #3b231971;
    border-radius: 20px;
    overflow: hidden;
    height: 640px;
    width: 400;
    margin-left: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, .3));
}

.image {
    max-height: 100%;
    width: 100%;
}