.container {
    padding-top: 20px;
    width: 100vw;
    overflow: hidden
}

.experience {
    border-color: #444;
    height: fit-content;
    transform: translateX(var(--sliderPosition));
    display: flex;
    border-color: #111;
    transition: all 100ms;
}

.menuState {
    width: 70vw;
    margin: auto;
    margin-top: 2%;
    gap: 20px;
}

.sliderState {
    width: fit-content;
}

.role {
    border-color: #444;
    width: 100vw;
    top: 50;
    font-size: 6vw;
    left: 100;
    padding: 50px;
    padding-right: 150px;
    padding-left: 150px;
    transition: all 500ms;
    color: #999;
}

.roleButtonState {

    height: 70vh;
    border: 1px #333 solid;
    flex: 1;
    border-radius: 10px;
    transition: all 300ms;
    padding: 20px;
    overflow: hidden;
    color: #999;
    align-content: start;
    font-size: small;

}

.roleButtonState:hover {
    border: 5px #999 solid;
    border-radius: 20px;
    padding: 30px;
    color: #ccc;
}

.roleButtonState:active {
    transform: scale(0.95);
    transition: all 100ms;
    border: 0px #111 solid;
}

.showInfo {
    height: fit-content;
    overflow: visible;
    transition: all 500ms;
    opacity: 100;
}

.hideInfo {
    height: 0px;
    width: 0;
    overflow: hidden;
    transition: all 500ms;
    opacity: 0;
}

.subHead {
    font-size: 4vw;
}

.company {
    font-size: 3vw;
}

.period {
    margin-left: auto;
    font-size: 3vw;
}

.description {
    margin-right: 200px;
    font-size: 20px;
    transition: all 500ms;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.skillName {
    font-size: medium;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #555;
    transition: all 200ms;
    cursor: pointer;
}

.skillName:hover {
    border-color: #eee;
    background-color: #eee;
    color: #111;
    border-radius: 30px;
}

.skillName:active {
    background-color: #aaa;
    border-color: #aaa;
    padding-left: 30px;
    padding-right: 30px;
}

.expNav {
    position: fixed;
    right: 50px;
    bottom: 00px;
    display: flex;
    gap: 20px;
    overflow: hidden;
    align-items: end;
    transition: all 500ms;
}

.expNavButton {
    width: fit-content;
    padding: 20px;
    height: 60px;
    background: #222;
    border-radius: 5px;
    color: #999;
    font-size: small;
    text-align: center;
    align-content: center;
    transition: all 200ms;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    filter: drop-shadow(0 -10px 10px rgba(0, 0, 0, .1));
    cursor: pointer;

}

.hideNav {
    transform: translateY(200px);
}

.selectedButton {
    border-radius: 10px;
    height: 100px;
    background-color: #ccc;
    color: #111;
    border-bottom-width: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.unselectedButton:hover {
    padding-bottom: 50px;
}

.unselectedButton:active {
    transform: translateY(10px);
    background-color: #999;
    color: #111;
}

.back {
    position: fixed;
    top: 25px;
    left: 0;

    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: #ccc;
    text-align: center;
    align-content: center;
    transition: all 300ms;
    background-color: #923e3e;
    border-left-width: 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: small;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .9));
    cursor: pointer;
}

.showBackButton:hover {
    padding-left: 50px;
    background-color: #a33838;
}

.showBackButton:active {
    padding-left: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #a3383880;

}

.hideBackButton {
    transform: translateX(-100px);
}

.buttonYear {
    margin-top: 10px;
    border-top: 5px solid #111111;
    padding-top: 10px;

}

.buttonYearHidden {
    height: 0;
    overflow: hidden;
}

@media (max-width: 800px) {
    .container {}

    .experience {
        flex-direction: column;

    }

    .sliderState {
        flex-direction: row;
    }

    .menuState {
        margin: 5vw;
        height: 70vh;
    }

    .role {
        padding: 50px;
        font-size: 30px;
    }

    .roleButtonState {
        width: 90vw;
        padding: 20px;
        font-size: small;

    }

    .company {
        font-size: medium;
    }

    .period {
        font-size: medium;
    }

    .description {
        margin: 0px;
    }

    .subHead {
        font-size: large;
    }
    .back {
        top: auto;
        bottom: 25px;
    }
    .expNav {
        right: 50%;
        transform: translateX(50%);
    }
    .expNavButton {
        font-size: 0px;
        padding: 15px;
        height: 40px;
    }
    .selectedButton {
        height: 60px;
    }
}