.book {
    padding: 0px;
    border-radius: 0px;
    border-color: #222;
    height: fit-content;
    display: flex;
    transition: all 500ms;
    position: absolute;
    top: 50%;
    left: calc(15% + var(--bookGap));
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.5));

}

.bookHover:hover {
    padding-right: 0px;
    left: calc(15% + 25px + var(--bookGap));

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    top: 45%;
    filter: drop-shadow(60px 10px 10px rgba(0, 0, 0, .3));
    animation: onTop 500ms forwards;
}

@keyframes onTop {
    0% {
        z-index: 5;
    }
    100% {
        z-index: 5;
    }
}

.bookHover:hover .bookFrontBefore {
    width: 20px;
    background-color: #585553
}

.bookHover:hover .bookSpineBefore {}

.bookAfter {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    top: 45%;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, .4));

}

.bookSpine {
    height: 700px;
    align-items: center;
    justify-content: center;
    width: 50px;
    display: flex;
    transition: all 500ms;
    overflow: visible;
    padding-left: 10px;
}


.bookSpineBefore {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.bookSpineAfter {
    width: 0px;
    border-width: 0px;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 95%);
}

.bookFront {
    height: 700px;
    background-color: #726f6c;
    transition: all 500ms;
    border-right: #00000030 solid 0px;
    border-left: #ffffff10 solid 0px;

}

.bookFrontBefore {
    width: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
}

.bookFrontAfter {
    border-right: #00000030 solid 5px;
    border-left: #ffffff10 solid 5px;

    width: 1100px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}



.moveRight {
    left: calc(80% + var(--bookGap));
    opacity: 0;
}

.moveLeft {
    left: calc(20% + var(--bookGap));
    opacity: 0;
}

.bookInfo {
    position: absolute;
    transition: all 300ms;
    top: 50%;
    left: calc(50px + 15% + var(--bookGap));
    background-color: #ccc;
    border: #ccc solid 0px;
    width: 300px;
    opacity: 0;
    transform: scaleY(0) translateY(-800px);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 400;
    filter: drop-shadow(20px 0px 20px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    font-size: 0px;

    color: #222;
}
.book:hover~.bookInfo {
    top: 50%;
    width: 300px;
    opacity: 1;
    transform: scaleY(1) translateY(-400px);
    height: fit-content;
    left: calc(60px + 15% + var(--bookGap));
    padding: 20px;
    font-size: 15px;
    animation-name: hoverMotion;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes hoverMotion {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 0px;

        scale: 1.00;
    }

    100% {
        margin-top: 0;
    }
}
@media (max-width: 1200px) {
    .book {
        left: calc((50% - 200px) + var(--bookGap));
        position: absolute;
        top: 45%;

    }
    .bookAfter {
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(calc(var(--bookContainerWidth) / -5)) ;

    }
    .bookHover:hover {
    left: calc((50% - 200px) + 25px + var(--bookGap));
}
}