.coverPage {
    background-color: #3b2319;
    border-width: 1px;
    border-color: #482b1e;
    border-radius: 20px;
    border-left: #72442f75 solid 10px;

    border-right: #482b1e solid 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.InnerCoverPage {
    border-color: #482b1e;
    background-color: #3b2319;
    border-width: 1px;
    border-radius: 20px;
    border-left: #482b1e solid 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rightPage {
    border-width: 0px;
    background-color: #fff;
    border-color: #3b231971;
    border-radius: 20px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

.leftPage {
    background-color: #fff;
    border-color: #3b231971;
    border-radius: 20px;
    overflow: hidden;
    height: 640px;
    width: 400;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    justify-items: end;
}
.image {
    max-height: 100%;
    width: 100%;
    opacity: .7;
}