.container {
    display: flex;
    height: fit-content;
    transition: all 500ms;
    width: 80vw;
    animation-delay: 300ms;
    animation: aniCon 500ms;
}

.condenseContainer {
    width: 0vw;
    overflow: hidden;
}

.fadeOut {
    opacity: 0;
    transform: translateX(100px);
}

.formContainer {
    flex: 20;
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 50px;
}

.input {
    height: 50px;
    width: 400px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #cac3ae;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    box-shadow: none;
    transition: all 300ms;
    color: #111111;
    animation: aniIn 500ms;
    filter: drop-shadow(5 5px 2px rgba(0, 0, 0, .1));
}

.input:hover {
    margin-left: 10px;
}

.input:focus {
    margin-left: 40px;
    border-radius: 20px;
    height: 70px;
    width: 500px;
    background-color: #ffffff90;
    color: #111;
}

.input::placeholder {
    color: #11111150;
}

.textArea {
    height: 200px;
    width: 600px;
    padding-top: 30px;
}

.textArea:focus {
    height: 300px;
    width: 800px;
}

.dropDown {
    padding-right: 20px;
}

@keyframes aniIn {
    0% {
        width: 0;
        height: 0;
    }
}

.validation {
    background-color: #222;
    font-size: small;
    color: #ccc;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    margin-bottom: 30px;
    margin-left: 40px;
    transform: translateY(-20px);
    transition: all 300ms;
    white-space: pre;
}

.hideValidation {
    margin-left: 40px;
    transform: translateY(-30px);
}

.shake {
    animation: shakeAni 500ms forwards;
}

@keyframes shakeAni {
    0% {
        margin-left: 0px;
    }

    15% {
        margin-left: 10px;
        margin-right: 0px;
    }

    30% {
        margin-right: 10px;
        margin-left: 0px;
    }

    45% {
        margin-left: 10px;
        margin-right: 0px;
    }

    60% {
        margin-right: 10px;
        margin-left: 0px;
    }

    75% {
        margin-left: 10px;
        margin-right: 0px;
    }

    90% {
        margin-right: 10px;
        margin-left: 0px;
    }

    100% {}
}

.hide {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    transition: all 300ms;
    overflow: hidden;
    font-size: 0;
}

.inputTick {
    padding: 5px;
    margin: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: small;
    background-color: #2a7037;
    border-radius: 20px;
    transition: 300ms all;
    transform: translateX(-50px) scale(0.8);
}
.inputTickHide{
    transform: translateX(-50px) scale(0);
}

.input:focus~.inputTick {
    margin-top: 20px;
    transform: translateX(-60px)
}

.inputTickDate {
    margin-left: 0px;
}
.input:focus~.inputTickDate {
    margin-top: 10px;
    margin-left: 0px;
    transform: translateX(-50px) scale(0.8);
}
.input:focus~.inputTickHide {
        transform: translateX(-60px) scale(0);
}
@media (max-width: 800px) {
    .container{
        flex-direction:column;
    }
    .formContainer{
        margin-left: 5vw;
        margin-top: 50px;
        width: 95vw;
        overflow-x: hidden;
    }
    .input {
        width: 95vh;
        margin-right: 0px;
    }
    .input:hover {
        margin-left: 0px;
    }
    .input:focus {
        margin-left: 0px;
    }
}