.container {
    background-color: #11111110;
    border-radius: 10px;
    width: auto;
    height: 100%;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 30px;
    color: #111111;

}

.heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #11111140;
}

.setting:last-child {
    border-width: 0px;
}

.settingName {
    align-items: center;
    height: 40px;
    font-size: 13;
    font-weight: 500;
    display: flex;
    gap: 5px;
}

.subInfo {
    font-size: smaller;
    align-content: center;
    border-left: 1px solid #444;
    padding-left: 5px;
    padding-right: 5px;

}