.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    margin: 10px;
}

.box {
    flex: 1;
    background-color: #11111110;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-weight: 600;
    transition: 200ms all;
}

.boxImage {
    width: 20px;
    margin-bottom: 5px;
}
.box:hover {
    scale: 1.1;
    background-color: #11111120;
}