.navButton {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #aaa;
    cursor: pointer;
    background-color: #222;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    transition-property: all;
    transition-duration: 500ms;
    gap: 10px;
}

.navButtonSmall {
    height: 5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.125rem;
    transition-duration: 100ms;
    background-color: #22222200;
}

.navButtonLarge {
    height: 160px;
    width: 130px;
    justify-content: center;
    transition-duration: 200ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222222b5;
    backdrop-filter: blur(50px);
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .5));
}

.navImage {
    visibility: visible;
    filter: invert(1);
    transition: all 200ms;
    height: 25px;
}

.navButtonLarge:hover {
    margin-bottom: 50px;
    transition-duration: 200ms;
    background: #eeeeee7b;
    font-size: 14px;
    color: #222;
    animation-name: hoverMotion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-weight: 500;

}

.navButtonLarge:active {
    background: #ffffffb0;
    border-radius: 70px;
    width: 200px;
    height: 200px;
    animation-name: none;
    transform: translateY(-30px);

}

.navButtonLarge:hover .navImage {
    visibility: visible;
    filter: invert(0);
    height: 40px;
}

.navButtonSmall:hover {
    background-color: #d2d2d2;
    color: #222;
    transition-duration: 300ms;
    border-radius: 0.2rem;
    align-items: left;
}

.navButtonSmall:active {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition-duration: 100ms;
    background-color: #afafaf;
    box-shadow: inset 0 3 4px rgb(0, 0, 0, .1);

}

.navImageSmall {
    width: 0px;
    transition: all 200ms;
}

.navButtonSmall:hover .navImage {
    width: 15px;
    filter: invert(0);
}


.blockAction {
    background-color: #7d2929;
    color: #d4d4d4;
    animation: accessDenied 500ms;

}

.blockAction:hover {
    background-color: #7d2929;
    color: #d4d4d4;
    animation: accessDenied 500ms;

}

.blockAction:hover .navImage {
    filter: invert(1);
}

.currentPage {
    font-weight: 500;
    color: #eee;
}

.blockMessage {
    position: absolute;
    top: 50px;
    transform: translateX(0%);
    font-size: small;
    color: #ccc;
}





@keyframes hoverMotion {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: -30px;
        margin-left: 0px;
        margin-right: 0px;

        scale: 1.00;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes accessDenied {
    0% {
        margin-left: 0px;
    }

    15% {
        margin-left: 10px;
        margin-right: 0px;
    }

    30% {
        margin-right: 10px;
        margin-left: 0px;
    }

    45% {
        margin-left: 10px;
        margin-right: 0px;
    }

    60% {
        margin-right: 10px;
        margin-left: 0px;
    }

    75% {
        margin-left: 10px;
        margin-right: 0px;
    }

    90% {
        margin-right: 10px;
        margin-left: 0px;
    }

    100% {}
}

@media (max-width: 800px) {
    .navButton {

        font-size: 0px;
        border-radius: 0px;
        gap: 0px;
        border-right: 1px solid #33333390;
        background-color: none;
    }

    .navButton:last-child {
        border-right: 0px solid #444;

    }

    .navButton:hover {

        font-size: 7px;
        gap: 5px;
    }

    .navButton:last-child:hover {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    .navButtonLarge {
        height: 50px;
        width: 50px;
        padding: 5px;
        border-radius: 10px;
        font-size: 0px;
        border-width: 0px;
        background: #11111199;
        backdrop-filter: blur(50px);
        filter: drop-shadow(0 5px 3px rgba(0, 0, 0, .4));
    }

    .navButtonLarge:hover {
        background: #22222295;
        margin: 0;
        border-radius: 70px;
        width: 50px;
        height: 50px;
        font-size: 0px;
        gap: 0px;
        animation-name: none;
        transform: scale(1.3);
        filter: drop-shadow(0 5px 3px rgba(0, 0, 0, .0));
    }

    .navButtonLarge:last-child:hover {
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;

    }

    .navButtonLarge:active {
        background: #111;
        border-radius: 70px;
        width: 50px;
        height: 50px;
        animation-name: none;
        transform: scale(1.2);
        filter: drop-shadow(0 5px 3px rgba(0, 0, 0, .0));


    }

    .navButtonLarge:hover .navImage {
        visibility: visible;
        filter: invert(1);
        height: 40px;
    }

    .navImage {
        width: 15px;
    }

    .navImageSmall {
        width: 15px;
        transition: all 200ms;
    }

    .label {
        display: none;
    }

    .navButtonSmall:hover {
        background-color: #d2d2d200;
        padding-left: 5px;
        padding-right: 5px;
        margin: 15px;
        margin-right: 15px;
        background-color: #cccccc;
                transform: scale(1.9);
        border-width: 0px;
        border-radius: 20px;
    }
    .navButtonSmall:hover .navImage{
        filter: invert(0);
        transform: scale(0.7);

    }

    .navButtonSmall:active {
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 20px;
        background-color: #afafaf;
        box-shadow: inset 0 3 4px rgb(0, 0, 0, .1);
        transform: scale(1.8);
    }
    .navButtonSmall:active .navImage{
        transform: scale(0.7);
    }
    .blockAction:hover {
        background-color: #7d2929;
    }
    .blockAction:hover .navImage{
        filter: invert(1);
    }
}