.coverPage {
    background-color: #5c4b3c;
    border-left: #ffffff10 solid 5px;
    border-right: #00000030 solid 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.InnerCoverPage {
    background-color: #5c4b3c;
    border-left: #ffffff10 solid 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rightPage {
    background-color: bisque;
    border-radius: 20px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 30px;
}

.leftPage {
    background-color: bisque;
    border-radius: 20px;
    overflow: hidden;
    height: 640px;
    width: 400;
    margin-left: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.image {
    max-height: 100%;
    width: 100%;
}