.section {
    height: 100%;
    width: 60vw;
    transition: all 500ms;
    display: flex;
}
.unselected {
    transform: scale(75%);
    opacity: .2;
}
.unselectedInfo {
    transform: translateY(200px);
}
.selected {
    transform: scale(100%);
    border-radius: 20px;
}
.qualInfoContainer {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 20px;
    transition: all 500ms;

}
.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.qualDate {
    background-color: #ccc;
    color: #111;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: small;
}
.qualLevel {
    font-size: 30px;
    color: #fff;
    
}
.qualSubject {
    text-align: end;
    font-size: 50px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc ;
    margin-bottom: 10px;
}
.qualGrade {
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
    padding-right: 20px;
}
.qualInstitution {
    font-size: 25px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc ;
    text-align: end;
    margin-bottom: 10px;
    
}
.qualDescription {
    text-align: end;
    color: #fff;
    width: 70%;
}
.qualCertificateContainer {
    height: 100%;
    flex: 1;
    align-content: center;
    padding: 20px;
}

.certificate {
    max-height: 90%;
    width: 100%;
    object-fit: scale-down;
    overflow: hidden;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    transition: all 500ms;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, .2));

}
.unselectedCert{
    border-radius: 400px;
    height: 200;
    width: 200;
}

@media (max-width: 800px) {
    .section{
        flex-direction: column-reverse;
        width: 80vw;

    }
    .qualInfoContainer {
        flex-direction: row;
                gap: 20px;
        flex: 1;
        border-radius: 10px;
        background-color: #cccccc50;
        backdrop-filter: blur(20px);
        align-items: center;
        padding: 10px;
        padding-bottom: 0px;
    }
    .unselectedInfo {
        background-color: #cccccc20;
        backdrop-filter: blur(20px);
    }
    .qualDate {
        font-size: 8px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
    }
    .qualLevel {
        font-size: 10px;
    }
    .qualSubject{
        font-size: medium;
    }
    .qualInstitution {
        font-size: 10px;
        border-width: 0px;
    }
    .qualCertificateContainer {
        flex: 3;
    }
    
    .qualDescription {
        font-size: 8px;
        width: 100%;
                text-align: start;
    }
    .qualGrade {
        font-size: 30px;
        text-align: end;
        margin: 0px;
    }
    .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    }
    
}