.container {
    display: none;
}
@media (max-width : 800px) {

    .container {
        display: block;
        position: absolute;
        height: 25px;
        width: 90px;
        background-color: #00000050;
        top: 50px;
        left: 50%;
        border-radius: 50px;
        z-index: 90;
        transform: translateX(-50%) scale(0);
        display: flex;
        transition: all 200ms;
        backdrop-filter: blur(10px);
        animation: delayIntro 300ms forwards;
        animation-delay: 2000ms;
    }
    @keyframes delayIntro {
        0%{
            transform: translateX(-50%) scale(0);
            opacity: 0;
        }
        
        100%{
            transform: translateX(-50%) scale(1);
            opacity: 1;
        }
        
    }

    .container:active {
        transform: translateX(-50%);

    }

    .slide {
        flex: 1;
        transition: all 200ms;
    }

    .selected {}

    .slider {
        position: absolute;
        height: 100%;
        width: 40%;
        background-color: #ccc;
        transition: all 200ms;
        border-radius: 50px;

    }

    .container:active .slider {
        background-color: #ffffff;

    }

    .posLeft {
        transform: translateX(0%);
    }
    .container:active .posLeft {
        transform: translateX(0%) scale(1.2);
        
    }

    .posCenter {
        transform: translateX(75%);
    }
    .container:active .posCenter {
        transform: translateX(75%) scale(1.2);
        
    }

    .posRight {
        transform: translateX(150%);
    }
    .container:active .posRight {
        transform: translateX(150%) scale(1.2);
        
    }
    
}