.container {
    display: none;
}
@media (max-width : 800px) {

    .container {
        display: block;
        position: absolute;
        height: 30px;
        width: 90px;
        background-color: #00000090;
        top: 75%;
        left: 50%;
        border-radius: 50px;
        z-index: 100;
        transform: translateX(-50%);
        display: flex;
        transition: all 200ms;
        backdrop-filter: blur(10px);
    }

    .container:active {
        transform: translateX(-50%);

    }

    .slide {
        flex: 1;
        transition: all 200ms;
    }

    .selected {}

    .slider {
        position: absolute;
        height: 100%;
        width: 33%;
        background-color: #ccc;
        transition: all 200ms;
        border-radius: 50px;

    }

    .container:active .slider {
        background-color: #ffffff;

    }

    .posLeft {
        transform: translateX(0%);
    }
    .container:active .posLeft {
        transform: translateX(0%) scale(1.2);
        
    }

    .posCenter {
        transform: translateX(100%);
    }
    .container:active .posCenter {
        transform: translateX(100%) scale(1.2);
        
    }

    .posRight {
        transform: translateX(200%);
    }
    .container:active .posRight {
        transform: translateX(200%) scale(1.2);
        
    }
    
}