.day {
    width: 100;
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
}

.day:focus {
    width: 150;
    margin-right: 20px;
}

.month {
    width: 100;
    margin-right: 10px;
    border-radius: 10;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
}

.month:focus {
    width: 150;
    margin-right: 20px;
}

.year {
    width: 100;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
}

.year:focus {
    width: 150;
}
.heading {
    background-color: #22222220;
    font-size: small;
    color: #222;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    width: fit-content;
    height: 50px;
    margin-left: 20px;
    margin-right: 10px ;
    align-content: center;
    transition: all 300ms;
    white-space: pre;
}
.headingExpand {
    padding-right: 50px;
}
.container {
    display: flex;
}
